<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

  <ul class="search-result">
    <!--$ is a convention to indicate heroes$ is an observable, not an array-->
    <!--async identifies Angular's AsyncPipe and subscribes to an Observable automatically so you won't have to do so in the component class.-->
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
  </li>
  </ul>
</div>
